@atlas:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@cobalt:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@cobalt-marketplace:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@talkdesk:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@digital:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@td-org:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
